<!DOCTYPE html>
<html>
	<head>
	  <title>PROYECTO</title>
	  <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
		
	  
	  <%= stylesheet_link_tag    'application', media: 'all' %>
	 
	  <%= csrf_meta_tags %>
	  
	
	 
	  <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">


	  <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
	</head>
	<body>
		<header>
			<%= link_to 'FAVOROOTS', root_path %>
			<span class="btn-group-pull-right">
	            <%= link_to'Info', info_path %>
	            <%= link_to 'Chains', chains_path %>
	            <%= link_to 'Map', map_path %>
	 		</span>
		</header>
		

		
		<%= yield %>



		<script src="http://maps.google.com/maps/api/js?sensor=true"></script>
		<script type="text/javascript" src="maps.js"></script>
		<script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
		
    	<footer> 
			<hr> Created by Irene Muñoz Real ® Ironhack 2015 </hr>

		</footer>
	</body>
</html>
