<%= form_for @chain do |f| %>
<div>
 <%= f.label :name %>
 <%= f.text_field :name %>
 </div>

 <div>
 <%= f.label :date_chain %>
 <%= f.date_field :date_chain %>
</div>
<div>
 <%= f.label :description_chain %>
 <%= f.text_field :description_chain %>
 </div>

 <%= f.submit 'Save' %>

<% end %>